* {
  margin: 0;
  padding: 0;
}
form {
  background-image: linear-gradient(white, lightgrey);
  bottom: 0;
  width: 100%;
  border-color: #000;
}

input {
    width: 100%;
    padding: 10px 15px;
    margin: 1px 0;
    box-sizing: border-box;
    background-image: linear-gradient(white, lightgrey);
}

button {
  display: inline-block;
  margin: 3px;
  width: 98%;
  padding: 3px 7px;
  font-size: 10px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: rgb(255, 255, 255);
  background-color: rgb(145, 27, 7);
  border: none;
  border-radius: 10px;
  box-shadow: 0 9px #999;
}
button:hover {background-color: #3e8e41}

button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
select{
  height: 30px;
  width: 90%;
  margin-bottom: 35%;
  margin-left: 4px;
  margin-top: 4px;
  text-align: center;
}
#messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 75%;
  overflow: auto;
}

#messages li {
  padding: 5px 10px;
}

#messages li:nth-child(odd) {
  background: #eee;
}

.bet_area {
  display: inline-block;
  position: absolute;
  background-image: linear-gradient(white, lightgrey);
  width: 48vw;
  height: 29vh;
  padding: 5px;
  margin-left: 26%;
  margin-top: 16%;
  border-radius: 15px;
}

.chat {
  display: inline-block;
  width: 31%;
  height: 95%;
  margin-left: 1%;
  vertical-align: top;
  background-image: linear-gradient(white, lightgrey);
}

.bets {
  display: inline-block;
  width: 15%;
  height: 95%;
  margin: 1%;
  vertical-align: top;
}

.race_result {
  display: inline-block;
  width: 48%;
  height: 90%;
  margin: 1%;
  vertical-align: top;
  overflow: scroll;
}

.row {
  display: block;
  width: 100%;
}

.ninja {
  position: absolute;
  width: 59px;
  height: 86px;
}
/* green */
.right1_green {
  background-image: url('./img/right1 green.png');
}

.right2_green  {
  background-image: url('./img/right2 green.png');
}

.top1_green  {
  background-image: url('./img/top1 green.png');
}

.top2_green  {
  background-image: url('./img/top2 green.png');
}

.left1_green  {
  background-image: url('./img/left1 green.png');
}

.left2_green  {
  background-image: url('./img/left2 green.png');
}

.down1_green  {
  background-image: url('./img/down1 green.png');
}

.down2_green  {
  background-image: url('./img/down2 green.png');
}
/* red */
.right1_red {
  background-image: url('./img/right1 red.png');
}

.right2_red  {
  background-image: url('./img/right2 red.png');
}

.top1_red  {
  background-image: url('./img/top1 red.png');
}

.top2_red  {
  background-image: url('./img/top2 red.png');
}

.left1_red  {
  background-image: url('./img/left1 red.png');
}

.left2_red  {
  background-image: url('./img/left2 red.png');
}

.down1_red  {
  background-image: url('./img/down1 red.png');
}

.down2_red  {
  background-image: url('./img/down2 red.png');
}
/* blue */
.right1_blue {
  background-image: url('./img/right1 blue.png');
}

.right2_blue  {
  background-image: url('./img/right2 blue.png');
}

.top1_blue  {
  background-image: url('./img/top1 blue.png');
}

.top2_blue  {
  background-image: url('./img/top2 blue.png');
}

.left1_blue  {
  background-image: url('./img/left1 blue.png');
}

.left2_blue  {
  background-image: url('./img/left2 blue.png');
}

.down1_blue  {
  background-image: url('./img/down1 blue.png');
}

.down2_blue  {
  background-image: url('./img/down2 blue.png');
}
/* yellow */
.right1_yellow {
  background-image: url('./img/right1 yellow.png');
}

.right2_yellow  {
  background-image: url('./img/right2 yellow.png');
}

.top1_yellow  {
  background-image: url('./img/top1 yellow.png');
}

.top2_yellow  {
  background-image: url('./img/top2 yellow.png');
}

.left1_yellow  {
  background-image: url('./img/left1 yellow.png');
}

.left2_yellow  {
  background-image: url('./img/left2 yellow.png');
}

.down1_yellow  {
  background-image: url('./img/down1 yellow.png');
}

.down2_yellow  {
  background-image: url('./img/down2 yellow.png');
}

html { 
    background-image: url('./img/field.jpg');
    height: 100vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
#race_table {
font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
border-collapse: collapse;
width: 100%;
}

#race_table td, #race_table th {
border: 1px solid #ddd;
padding: 3px;
}

#race_table tr:nth-child(even){background-color: #f2f2f2;}

#race_table tr:hover {background-color: #ddd;}

#race_table th {
padding-top: 8px;
padding-bottom: 8px;
text-align: left;
background-color: #4CAF50;
color: white;
}
